{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Proyectos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <h1>Lista de Proyectos</h1>
    <p class="usuario">
        Bienvenido, <strong>{{ user.username }}</strong> 👋
    </p>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn-logout" style="
            background-color: #8b5cf6;
            border: none;
            padding: 10px 15px;
            color: white;
            border-radius: 6px;
            font-weight: bold;
            cursor: pointer;">
            Cerrar sesión
        </button>
    </form>
    
</header>

<main>
    <ul class="proyectos">
        {% for proyecto in proyectos %}
            <li>
                <a href="{% url proyecto.url %}" class="btn-proyecto">{{ proyecto.nombre }}</a>
            </li>
        {% empty %}
            <li>No hay proyectos disponibles.</li>
        {% endfor %}
    </ul>

    <a class="btn" href="{% url 'inicio' %}">Volver al inicio</a>
</main>
</body>
</html>
