{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>

        <p>¿No tienes cuenta?
            <a href="{% url 'registro' %}">Crear una cuenta</a>
        </p>
    </div>
</body>
</html>
